<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">E-Education</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content:flex-end;" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="course">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="joinnow">Join Now</a>
        </li>
  
          <li class="nav-item">
            <a class="nav-link active" routerLink="about">About</a>
          </li>
      
       
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="footer">
  <p>&copy; eeducation 2021. All right reserved</p>
</div>




