.navbar-nav .nav-item{
    font-size:1.3em;
    margin-left: 2em;
    position: relative;
}
 .nav-item:before{
     content: '';
    position: absolute;
    left:0;
    bottom:0;
    width:0%;
    height:2px;
    background-color: dodgerblue;
    transition: all 0.5s;
}

.nav-item:hover::before{
    width:100%;
}
.nav-item:nth-last-child(1){

    margin-right: 2em;
}
.navbar-brand{
    font-size: 1.8em;
    margin-left: 1em;
    font-weight: 500;
}

.footer{
    width: 100%;
    height:40px;
    background-color:rgb(243, 242, 242);
    text-align: center;
    /* font-size: 1.2em; */
    line-height: 40px;
    color:rgb(54, 52, 52)
}